<p-growl [(value)]="msgs"></p-growl>

<div id="frame" class="container text-center">
  <div id="sidepanel">
    <div id="contacts">
      <ul>
        <li *ngFor="let chat of chatList; let i = index" class="contact">
          <div class="wrap" (click)="changeChat(chat.idMatch, i)">
            <img [src]="getPhoto(chat.avatar)" alt="" />
            <div class="meta">
              <p class="name">{{chat.name}}&nbsp;{{chat.surname}}</p>
              <!--<p class="preview">You just got LITT up, Mike.</p>-->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
      <img [src]="getPhoto(chatList[tabIndex].avatar)" alt="" style="cursor: pointer" (click)="goToProfile()" />
      <p style="cursor: pointer" (click)="goToProfile()">{{chatList[tabIndex].name}}&nbsp;{{chatList[tabIndex].surname}}</p>
    </div>
    <div class="messages">
      <ul>
      <li *ngFor="let message of currentSeeMessage" [class.sent]="senderID!=message.idSender" [class.replies]="senderID==message.idSender">
          <!--<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />-->
          <p>{{message.message}}</p>
        </li>
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <input type="text" placeholder="Napisz swoją wiadmomość..." name="inputMessage" [(ngModel)]="message"/>
        <button class="submit" (click)="onSendClick()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
