<div class="container align-content-center text-center col-md-6">
  <div class="card text-center">
    <form>
      <div class="form-group">
        <label for="inputLogin">Login</label>
        <input [(ngModel)]="login" type="text" name="login" class="form-control" id="inputLogin" aria-describedby="emailHelp"
               placeholder="Login">
      </div>
      <div class="form-group">
        <label for="inputPassword">Hasło</label>
        <input [(ngModel)]="password" type="password" name="password" class="form-control" id="inputPassword" placeholder="Hasło">
      </div>
      <div *ngIf="wrongCredentials" class="alert alert-danger" role="alert">
        Błędna nazwa użytkownika lub hasło!
      </div>
      <button type="submit" class="btn btn-primary" (click)="onLoginClick()">Zaloguj sie</button>
    </form>
  </div>
</div>
